@font-face {
  font-family: 'EB Garamond';
  src: local('EB Garamond'), url('/fonts/EBGaramond-VariableFont_wght.woff2') format('woff2');
}
@font-face {
  font-family: 'EB Garamond';
  src: local('EB Garamond'), url('/fonts/EBGaramond-Italic-VariableFont_wght.woff2') format('woff2');
  font-style: italic;
}
@font-face {
  font-family: 'TT2020';
  src: local('TT2020'), url('/fonts/TT2020StyleE-Regular.woff2') format('woff2');
}
@font-face {
  font-family: 'TT2020';
  src: local('TT2020'), url('/fonts/TT2020StyleE-Italic.woff2') format('woff2');
  font-style: italic;
}

// Set fonts to serif
$font-family-base: "EB Garamond", "Times New Roman", serif;

// Set font sizes
$font-size-base: 1.2rem;

.typewriterFont {
  font-family: 'TT2020', "EB Garamond", "Times New Roman", serif;;
}

$primary: #34133d;

@import 'bootstrap/scss/bootstrap';
