@import 'tailwindcss';

@theme {
  --color-retro-500: #99821b;
  --color-retro-100: #e6c97a;
  --color-retro-200: #cca859;
  --color-retro-300: #b08f36;
  --color-retro-400: #a08a23;
  --color-retro-600: #7c6a16;
  --color-retro-700: #66540f;
  --color-retro-800: #503d0a;
  --color-retro-contrast: #751a44;
}
