@import 'tailwindcss';

@theme {
  --color-ink-950: #0b0a0d;
  --color-ink-900: #151117;
  --color-ink-800: #1d1820;
  --color-ink-700: #26202a;
  --color-ember-500: #c5233e;
  --color-ember-400: #e14f58;
  --color-ember-300: #f08e7a;
  --color-bone-100: #f6efe6;
  --color-bone-200: #ead7c5;
  --color-smoke-300: #c7b5a5;
  --color-smoke-200: #b6a79a;
  --color-ash-600: #5a514c;
}

html {
  font-size: 125%;
}
